extends layouts/main-layout.pug
block content
    if errorMessage
        span.errorMessage #{errorMessage}
    else
        script.
            var chatId = '!{chat._id}';
        
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedIn)
                span#chatName(data-toggle="modal", data-target="#chatNameModal")
                button.leaveChat(style="outline: none;")
                    i(class="fal fa-user-minus", style="pointer-events: none;")

            .mainContentContainer
                .loadingSpinnerContainer
                    img(src="/images/loadingSpinner.gif", alt="Loading")
                .chatContainer(style="visibility: hidden;", data-room=chat._id)
                    ul.chatMessages

                    .typingDots
                        img(src="/images/dots.gif", alt="User is typing")

                    .footer
                        button.sendVideoCallRequestButton
                            i.fal.fa-video
                        button.sendImageButton(data-toggle="modal", data-target="#sendImageModal")
                            i.fal.fa-camera-alt
                        textarea.inputTextbox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fal.fa-paper-plane
        +createChatNameModal(chat)
        +sendImageModal()
        +viewSentImageModal()
        +deleteSentMessageModal()

block scripts 
    script(src="/js/chatPage.js")