extends layouts/main-layout.pug
block content
    .resultsContainer.mobileToo

block headerButton
    a(href="/messages/new")
        i.fal.fa-comment-alt-plus

block scripts 
    script(src="/js/inboxPage.js")