extends layouts/main-layout.pug

block content
    .chatPageContainer
        .chatTitleBar
            label(for="userSearchTextbox") To:
            #selectedUsers
                input#userSearchTextbox(type="text", name="userSearchTextbox", placeholder="Type the name of the user")
        .resultsContainer
        
block headerButton
    button#createChatButton(disabled="") Create Chat

block scripts 
    script(src="/js/newChat.js")