extends layouts/main-layout.pug
block content

    .searchPageContainer

        .searchBarContainer
            i.fal.fa-search
            input#searchBox(type="text", name="searchBox", data-search = selectedTab, title="Powered by Jamun", placeholder="Search for Users or Posts")

        .tabsContainer
            +createTab("Posts", `/search/posts`, selectedTab != "users")
            +createTab("Users", `/search/users`, selectedTab == "users")

        .resultsContainer.mobileFollowers

    +createPostModals(userLoggedIn)

block scripts 
    script(src="/js/search.js")